{% extends 'accounts/base.html' %}
{% block title %}Index{% endblock title %}
{% block body %}
<center>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
{% endif %}

{% if pending_req %}

    <table class="table table-hover" style='width:60%;margin-top:5%;'>
    <thead><tr><td>User</td><td>Book</td><td>Category</td><td>Issue date</td></tr></thead>
    {% for req in pending_req %}
        <form method="post" action="{% url 'book:approval' %}">{% csrf_token %}
            <tr><td><input type="hidden" name="book" value="{{ req.book.id }}"><input type="hidden" name="user_id" value="{{ req.user_id }}">{{ forloop.counter}}. {{ req.user.name }}</td><td>{{ req.book.name }}</td><td>{{ req.book.category.name}}</td><td>{{ req.issued_date }}</td><td><button class="btn btn-default" type="submit">Approve</button></td></tr>
        </form>
    {% endfor %}

    </table>

{% endif %}


{% if booklist %}
    <table class="table table-hover" style='width:60%;margin-top:5%;'>
        <thead><tr><td>Book Name</td><td>Category</td><td>Issue date</td><td>Return_date</td><td></td></tr></thead>
    {% for entry in booklist %}
        <form method="post" action="{% url 'book:bookreturn' %}">{% csrf_token %}
            <tr><td><input type="hidden" name="entry_id" value="{{ entry.id }}"><input type="hidden" name="book" value="{{ entry.book.id }}">{{forloop.counter}}. {{ entry.book.name }}</td><td>{{ entry.book.category.name }}</td><td>{{ entry.issued_date }}</td><td>{{ entry.return_date }}</td><td><button class="btn btn-default" type="submit">Return</button></td></tr>
        </form>
    {% endfor %}

    </table>
{% endif %}

    {% if user.is_authenticated == False %}
    <h1>Welcome to Library management system..</h1>
    <h3>Please login to continue! </h3>
    {% endif %}

</center>
{% endblock %}